.top{
    margin: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;

    img{
        width: 1.7rem;
    }
}

.Deck{
    display: flex;
    gap: 4rem;
}

.title{
    margin: 0.5rem 0;
    font-size: 1.2rem;
}
.progress{
    display: flex;
    justify-content: space-between;
    img{
        margin-left: 5rem;
    }
}