.navsection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem 0rem 1rem 0rem;
    cursor: pointer;
    img{
        width: 14px;
    }
}
