$LetterColor:white;
.cardBody{
    position: relative;
    height: 20.625rem; //396.975x 
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
    img{
        //aca pasa algo
        height: 100%;
        width: auto;
        display: block;
        z-index: -99;
    }
}

.info{
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-left: 0.4rem;
    label{
        margin :1rem;
        margin-bottom: 0;
        color: $LetterColor;
        font-weight: bold;
        font-size: 1.3rem;
    }
    p{
        margin: 1rem;
        color:$LetterColor;
        font-size: 1.735rem;
        font-weight: bold;
        width: 50%;
        
    }
}