*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardBody{
    position: relative;
    width: fit-content;
    height: auto;
    //border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
    p{
        margin: 0;
    }
    svg{
        height: 15rem;
        width: auto;
        display: block;
        z-index: -99;
    }
    .info{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        margin: 1rem 0rem 0rem 1.5rem;
        height: 100%;
        width: 100%;
        .top{
            display: flex;
            width: 75%;
            justify-content: space-between;
            margin-bottom: 0.5em;
        
            .price{
                font-weight: 700;
                font-size: 1.2rem;
                //margin: 1.5rem 0 1rem 0;
                .cents{
                    font-weight: 700;
                    font-size: 0.8rem;
                    //margin: 1.5rem 0 1rem 0;   
                }
            }
            img{
                width: 13px;
            }
        }

        .iconcont{
            margin-top: 4.5rem;
            justify-self: flex-end;
            img{
                width: 40px;
                margin-bottom: 0.5rem;
            }

        }
    }

}
