.cardBody{
    position: relative;
    width: fit-content;
    height: auto;
    border-radius: 1.2rem 1.2rem 0 0;
    overflow: hidden;
    margin: 1rem;
    //padding: 1rem 0rem 0rem 1.5rem;
    p{
        margin: 0;
    }
    svg{
        height: 18.25rem;
        width: auto;
        display: block;
        z-index: -99;
    }
    .info{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
         margin: 1.2rem 0rem 0rem 1.7rem;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        .top{
            display: flex;
            width: 75%;
            justify-content: space-between;
            margin-bottom: 0.5em;
        
            .price{
                font-weight: 700;
                font-size: 1.5rem;
                //margin: 1.5rem 0 1rem 0;
                .cents{
                    font-weight: 700;
                    font-size: 0.9rem;
                    //margin: 1.5rem 0 1rem 0;   
                }
            }
            img{
                width: 13px;
            }
        }

        .iconcont{
            margin-bottom: 2.7rem;
            img{
                width: 50px;
                margin-bottom: 0.5rem;
            }

        }
    }

}
