
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*background gradient*/
    background: rgba(253,253,253,1);
    background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ffffff', GradientType=0);
    

    width: 15rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    .subSection{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;    
    }
}



