
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*background gradient*/
    background-color: #fbfbfb;
    

    width: 16rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    .subSection{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;    
    }
}



