
.principal{
    display: flex;
    margin-right: 2rem;
}

.prices{
    margin: 0;
    font-weight: 800;
     font-size: 2rem;
}

.subtitle{
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: #989A99;
}

.progressbar{
    align-self: flex-end;
    margin:0;
    width: 20rem;
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 2rem;
    margin-right: 2rem;
}

.progress{
    width: 8.5rem;
    background-color: black;
    border-radius: 10px 0 0 10px;
    height: 100%;
}
