.navbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    padding: 1rem;
    align-items: center;
    label{
        margin :0rem;
        margin-bottom: 0;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .points{
        margin-bottom: 2rem;
    }

    .one{
        color:#FBC974;
    }
    .two{
        color:#D2FFD6;
    }
    .three{
        color:#FFFFFF;
    }
}
