.navbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    padding: 1rem;
    align-items: center;
    .points{
        margin-top: -1.5rem;
        margin-bottom: 2rem;
        label{
            margin :0rem;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 2.5rem;
        }
    }
    .one{
        color:#FBC974;
    }
    .two{
        color:#D2FFD6;
    }
    .three{
        color:#FFFFFF;
    }
}

.navsec{
    display: flex;
    width: 100%;
    justify-content: center;
}

.active{
    margin-top: 2rem;
    margin-left:-1.3rem;
    margin-right:0.4rem;
    width: 0.3rem;
    height: 2rem;
}

.noactive{
    margin-top: 2rem;
    margin-left:-1.3rem;
    margin-right:0.4rem;
    width: 0.3rem;
    height: 2rem;
    background-color: white;
}


