@font-face {
  font-family: 'roobert_trialregular';
  src: url('./fonts/rooberttrial-regular-webfont.woff2') format('woff2'),
  url('./fonts/rooberttrial-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'roobert_trialregular', 'Prompt';
  font-weight:normal;
  font-style:normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: 'roobert_trialregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

