.container{
    border-radius: 1.3rem;
    background-color: #F9f9f9;
    width: 11.4rem;
    height: 13.4rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;

}
.text{
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.boldtext{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.graytext{
    font-size: 1.1rem;
    color: #656767;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.information{
    margin-top:1rem;
    align-self: center;
    padding-left: 1.5rem;
    
    margin-bottom: 2rem;

}

.cost{
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
}

hr{
   border: 0; 
   border-bottom:1px solid #E8E8EA;
}