.principal{
    display: flex;
    .image{
        width: 1.5rem;
        margin-right: 1.5rem;
    }
    p{
        color: #9F9D9D;
    }
    .arrow{
        width: 0.5rem;
        margin-left: 4rem;
    }
}